*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;		
}

body{
	background: peachpuff;
}

#canvas	{
	background-image: url("./img/background.jpeg");
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid lightsalmon;
	font-family: 'Bowlby One', cursive;
}


